* {
  margin: auto;
}

table {
  padding: 0px;
  margin-top: 100px;
  width: 80%;
}
#drawer {
  width: 210px;
}
.list {
  position: relative;
  top: -350px;
}
.add-user {
  position: relative;
  top: 60px;
  left: 17px;
}
.table {
  margin-left: 10px;
}
.form-login{
  width: 600px;
  margin: 200px auto auto auto;
}
